* {
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

.text-white {
    color: #fff !important;
}

.text-danger {
    color: #ff0000 !important;
}

.text-center {
    text-align: center;
}

#mapid{ 
	width:650px; 
	height: 450px; 
	right: 150px;
	top: 23px;
}

#mapidAdmin{ 
	width:100%; 
	height: 450px; 
}

.leaflet-bottom.leaflet-right {
	display: none;
}

#loading-wrapper {
    position: fixed;
	z-index: 999;
	background: rgba(0,0,0,.7);
	height: 100%;
	width: 100%;
	overflow: show;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

#loading-image {
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

.subhead {
    font-weight: bold;
}

.group-form {
    margin-bottom: 20px;
}

.pure-form select {
    height: 2.55em;
}